{% extends 'master' %}

{% block content %}
  <div>
  {% if currentUser %}  
    <a href="movie/create" class="btn btn-default btn-block"> Új film hozzáadása </a>
    <hr>
     {% endif %}
  </div>

  <div class="row">
  {% for movie in movies %} 
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="responsive-img img-thumbnail" style="width:250px;height:250px;" src="{{movie.image}}" >
      <div class="caption">
        <h3> {{ movie.title }}</h3> 
        {% if currentUser %}  
        <p><a href="movie/{{ movie.id }}" class="btn btn-default" role="button">Részletek</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
