{% extends 'master' %}

{% block content %}
  <div>
  {% if currentUser %}  
    <a href="movie/create" class="btn btn-default btn-block"> Új film hozzáadása </a>
    <hr>
     {% endif %}
  </div>
  <div class="movies-wrapper">
    {% for movie in movies %} 
      <div class="movies">
        <h2><a href="movie/{{ movie.id }}"> {{ movie.title }} </a></h2> 
        <p> {{ movie.content | truncate(150)}} </p> <!--we use the truncate filter on the post content by limit the characters count to 150.-->
      </div>
    {% else %}
      <h2> No movies found </h2>
    {% endfor %}
  </div>

{% endblock %}
