{% extends 'master' %}


{% block content %}
<form class="form-horizontal">

{{ csrfField }}


  <fieldset>
    <p> Felhasználónév: {{ currentUser.username }}</p>
    <p>E-mail: {{ currentUser.email }}</p>
    <hr>
    <h5> Saját filmek </h5>
     <div class="movies-wrapper">
    {% for movie in movies %} 
      <div class="movies">
        <h2><a href="movie/{{ movie.id }}"> {{ movie.title }} </a></h2> 
       </div>
    {% else %}
      <h2> No movies found </h2>
    {% endfor %}
  </div>


   </fieldset>
</form>
{% endblock %}