{% extends 'master' %}

{% block content %}
<form class="form-horizontal" method="post">

{{ csrfField }}


  <fieldset>
  <div class="post">
    <div>
      <a href="/">  Go Back </a>
    </div>
    <hr>
    <h2>{{ movie.title }}</h2>

    <img src="{{movie.image}}" width="200">
    <p> Műfaj: {{ movie.category.name }}</p>
    <p>Rendező: {{ movie.director }}</p>
    <h5> Leírás </h5>
    <p>{{ movie.content }}</p>
    <p>Értékelés: {{ movie.rating }} ({{ movie.count }} szavazatból) </p> 

  
  <div>
  {% set igaz = false %}
  {% for rating in ratings %}
    {% if (rating.user_id == currentUser.id)  %}
        {% set igaz = true %}
    {% endif %}
  {% else %}
    {% set igaz = true %}
    <label for="rating" class="col-lg-2 control-label">Értékelés</label>
       <select class="form-control" id="rating" name="rating">
           <option>1</option>
           <option>2</option>
       </select>
       <button type="submit" class="btn btn-primary">Értékelés</button>  
    {% endfor %}
 
{% if (igaz == false)  %}
 <label for="rating" class="col-lg-2 control-label">Értékelés</label>
        <select class="form-control" id="rating" name="rating">
            <option>1</option>
            <option>2</option>
        </select>
        <button type="submit" class="btn btn-primary">Értékelés</button>
{% endif %}      
</div>


<div class="btn-group btn-group-justified">
{% if (movie.user_id == currentUser.id) %}
<a href="/movie/{{movie.id}}/edit" class="btn btn-default">Szerkesztés</a>
<a href="/movie/{{movie.id}}/delete" class="btn btn-default">Törlés</a
{% endif %}
</div>


   </fieldset>
</form>
{% endblock %}