{% extends 'master' %}

{% block content %}
  <div class="post">
    <div>
      <a href="/">  Go Back </a>
    </div>
    <hr>
    <h2>{{ movie.title }}</h2>
    <p> Műfaj: {{ movie.category.name }}</p>
    <p>Rendező: {{ movie.director }}</p>
    <h5> Leírás </h5>
    <p>{{ movie.content }}</p>
  </div>
  <div>
    <a href="/movie/{{movie.id}}/edit" class="btn btn-success btn-block"> Szerkesztés </a>
    <hr>
  </div>
{% endblock %}