{% extends 'master' %}

{% block content %}
 <div class="list-group post">
  <h2>{{ category.name }} </h2>
   {% for movie in movies %}
        <a href="/movie/{{ movie.id }}" class="list-group-item active">{{ movie.title }}</a>
    {% else %}
      <h2> Ebben a kategóriában jelenleg nincs még film felvéve </h2>
    {% endfor %}
  </div>
{% endblock %}