{% extends 'master' %}

{% block content %}
  <div class="post">
    <div>
      <a href="/">  Go Back </a>
    </div>
    <hr>
  </div>

    <div class="list-group">
  <h2>{{ category.name }} filmek </h2>
   {% for movie in movies %}
        <a href="/movie/{{ movie.id }}" class="list-group-item active">{{ movie.title }}</a>
    {% endfor %}
  </div>
{% endblock %}